---
name: 'github pages'

'on':
  push:
    branches:
      - 'main'
  release:
    types:
      - 'published'
  workflow_dispatch:

permissions:
  contents: 'read'

jobs:
  deploy:
    name: 'deploy documentation to github pages'
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'write'  # Needed to push to gh-pages
    steps:
      - name: 'checkout repository'
        uses: 'actions/checkout@v6'
        with:
          ref: 'main'
          persist-credentials: true
      - name: 'setup just and uv'
        uses: './.github/actions/setup-just-and-uv'
      - name: 'fetch gh-pages branch'
        run: |
          git fetch origin gh-pages:gh-pages --depth=1
          git config --global user.name "${ACTOR}"
          git config --global user.email "${ACTOR}@users.noreply.github.com"
        env:
          ACTOR: "${{ github.actor }}"
      - name: 'extract flepimop2 version'
        id: extract-version
        run: |
          cat > version.py << EOF
          import tomllib
          with open('pyproject.toml', 'rb') as f:
              data = tomllib.load(f)
          version = data['project']['version']
          version = '.'.join(version.split('.')[:2])
          print(f"version={version}")
          EOF
          uv run -qq python version.py >> $GITHUB_OUTPUT
          rm version.py
      - name: 'build reference'
        run: 'just reference'
      - name: 'deploy to github pages'
        run: |
          uv run mike set-default latest
          if [ "${EVENT_NAME}" == "release" ] || [[ $VERSION == 0* ]]; then
            ALIAS=latest
          else
            ALIAS=dev
          fi
          uv run mike deploy \
            --push --update-aliases \
            ${VERSION} ${ALIAS}
        env:
          EVENT_NAME: "${{ github.event_name }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          VERSION: "${{ steps.extract-version.outputs.version }}"
